In [6]:
import pandas as pd
from sklearn.decomposition import PCA
import scipy
from scipy import stats
import numpy as np

In [8]:
data = pd.read_table("Nichols_Nicki.dat")
data

,ias1,ias2,ias3,ias4,ias5,ias6,ias7,ias8,ias9,ias10,...,ias27,ias28,ias29,ias30,ias31,ias32,ias33,ias34,ias35,ias36
0,1,1,2,1,1,1,1,2,2,1,...,3,1,1,1,1,1,1,1,1,1
1,2,1,3,1,2,1,1,2,1,1,...,3,1,1,1,2,1,2,1,1,1
2,4,2,4,2,3,3,4,2,3,3,...,3,2,2,3,3,1,2,2,1,3
3,1,1,3,1,1,1,1,2,1,1,...,1,1,1,1,2,1,1,1,1,1
4,2,1,3,2,1,1,1,2,3,1,...,3,1,1,1,2,1,1,1,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,1,1,3,2,2,1,1,2,1,1,...,3,1,1,3,4,3,1,1,1,1
203,1,1,4,1,1,1,1,3,1,1,...,2,1,1,1,2,1,1,1,2,1
204,3,2,4,3,2,3,2,4,4,2,...,2,2,1,4,2,4,2,1,1,1
205,3,1,5,1,1,3,4,3,2,2,...,4,3,1,1,4,3,1,1,1,1
206,1,1,1,1,2,1,3,4,4,3,...,2,3,2,2,2,3,1,1,2,3

In [40]:
df = pd.DataFrame(data)
variance = df.var()
sorted_variance = variance.sort_values()
print(sorted_variance.head())
df2 = data.drop(columns=['ias34','ias23'])

ias34    0.118662
ias23    0.182778
ias15    0.266357
ias28    0.317480
ias6     0.319310
dtype: float64

In [43]:
matrix = df2.corr()
print(matrix)

           ias1      ias2      ias3      ias4      ias5      ias6      ias7  \
ias1   1.000000  0.427736  0.462768  0.354683  0.517041  0.558645  0.478892
ias2   0.427736  1.000000  0.330520  0.541461  0.379329  0.239192  0.394668
ias3   0.462768  0.330520  1.000000  0.518899  0.474619  0.405834  0.485200
ias4   0.354683  0.541461  0.518899  1.000000  0.462147  0.266996  0.451263
ias5   0.517041  0.379329  0.474619  0.462147  1.000000  0.481312  0.429718
ias6   0.558645  0.239192  0.405834  0.266996  0.481312  1.000000  0.497405
ias7   0.478892  0.394668  0.485200  0.451263  0.429718  0.497405  1.000000
ias8   0.476363  0.316346  0.624529  0.444075  0.588049  0.433835  0.465954
ias9   0.512624  0.285332  0.500271  0.369303  0.508687  0.499149  0.541858
ias10  0.431542  0.295806  0.401046  0.370661  0.520405  0.587692  0.601882
ias11  0.418803  0.260113  0.428615  0.266908  0.336068  0.420593  0.407984
ias12  0.426479  0.317615  0.456818  0.441042  0.437743  0.502373  0.601532
ias13  0.124036  0.372073  0.194782  0.306512  0.237406  0.103051  0.222779
ias14  0.491962  0.379893  0.397842  0.358068  0.401625  0.438143  0.370700
ias15  0.509146  0.351126  0.423629  0.265769  0.371215  0.388393  0.358756
ias16  0.515407  0.304038  0.402412  0.306861  0.356878  0.386070  0.269290
ias17  0.350424  0.251870  0.385572  0.287606  0.403659  0.501472  0.497956
ias18  0.469139  0.277870  0.358034  0.338143  0.467455  0.385915  0.550950
ias19  0.464207  0.280455  0.651083  0.424867  0.510969  0.493863  0.436590
ias20  0.484599  0.293493  0.444332  0.416140  0.465990  0.445903  0.531041
ias21  0.468674  0.294715  0.448443  0.359000  0.516034  0.485460  0.550832
ias22  0.158137  0.145824  0.176206  0.146355  0.151561  0.162702  0.146782
ias24  0.416092  0.309955  0.599004  0.407175  0.491484  0.383986  0.492671
ias25  0.454009  0.257624  0.350893  0.370450  0.474929  0.358818  0.394313
ias26  0.520175  0.284461  0.440439  0.273065  0.432891  0.645433  0.441219
ias27  0.397178  0.287707  0.390915  0.258987  0.348148  0.325130  0.368297
ias28  0.492634  0.195700  0.366488  0.219217  0.385675  0.565812  0.421132
ias29  0.540865  0.324781  0.398712  0.425301  0.554956  0.462595  0.480307
ias30  0.473830  0.303772  0.417714  0.393186  0.471142  0.423761  0.409551
ias31  0.325764  0.240185  0.514334  0.276573  0.331626  0.280543  0.326567
ias32  0.222556  0.149004  0.259528  0.173678  0.250465  0.357838  0.141842
ias33  0.499462  0.362779  0.449447  0.471634  0.602522  0.353481  0.497770
ias35  0.380204  0.265065  0.425957  0.250178  0.420797  0.264406  0.250955
ias36  0.485681  0.317826  0.461002  0.350016  0.469125  0.511114  0.660880

           ias8      ias9     ias10  ...     ias26     ias27     ias28  \
ias1   0.476363  0.512624  0.431542  ...  0.520175  0.397178  0.492634
ias2   0.316346  0.285332  0.295806  ...  0.284461  0.287707  0.195700
ias3   0.624529  0.500271  0.401046  ...  0.440439  0.390915  0.366488
ias4   0.444075  0.369303  0.370661  ...  0.273065  0.258987  0.219217
ias5   0.588049  0.508687  0.520405  ...  0.432891  0.348148  0.385675
ias6   0.433835  0.499149  0.587692  ...  0.645433  0.325130  0.565812
ias7   0.465954  0.541858  0.601882  ...  0.441219  0.368297  0.421132
ias8   1.000000  0.630128  0.479893  ...  0.473832  0.400799  0.494156
ias9   0.630128  1.000000  0.555241  ...  0.458150  0.343674  0.500715
ias10  0.479893  0.555241  1.000000  ...  0.513612  0.282541  0.476943
ias11  0.434744  0.439885  0.513844  ...  0.572437  0.359785  0.576448
ias12  0.540750  0.487878  0.636484  ...  0.534139  0.272353  0.472484
ias13  0.235583  0.210040  0.208713  ...  0.139385  0.178988  0.187124
ias14  0.420761  0.448731  0.494793  ...  0.533501  0.399868  0.506398
ias15  0.423555  0.454797  0.444358  ...  0.648834  0.405559  0.711764
ias16  0.418536  0.343217  0.249636  ...  0.488769  0.360135  0.438041
ias17  0.427456  0.501846  0.574666  ...  0.542254  0.167287  0.427367
ias18  0.459914  0.537954  0.576260  ...  0.513394  0.241011  0.513229
ias19  0.633020  0.484445  0.490328  ...  0.598200  0.383809  0.530749
ias20  0.530823  0.516395  0.558987  ...  0.622135  0.338626  0.608756
ias21  0.566149  0.631432  0.581776  ...  0.546190  0.256754  0.542958
ias22  0.291136  0.104965  0.216922  ...  0.275651  0.178581  0.323744
ias24  0.537484  0.510918  0.450237  ...  0.466994  0.442288  0.459784
ias25  0.507678  0.405041  0.402750  ...  0.480692  0.386978  0.519004
ias26  0.473832  0.458150  0.513612  ...  1.000000  0.414422  0.757444
ias27  0.400799  0.343674  0.282541  ...  0.414422  1.000000  0.459877
ias28  0.494156  0.500715  0.476943  ...  0.757444  0.459877  1.000000
ias29  0.454110  0.509045  0.580848  ...  0.563715  0.324576  0.559864
ias30  0.429113  0.411714  0.376447  ...  0.469119  0.245234  0.386880
ias31  0.391767  0.302359  0.299346  ...  0.251644  0.386764  0.224734
ias32  0.232004  0.133324  0.267393  ...  0.282806  0.149730  0.304954
ias33  0.492488  0.527294  0.465893  ...  0.491570  0.374153  0.411420
ias35  0.470186  0.248491  0.272484  ...  0.522116  0.408097  0.454578
ias36  0.560788  0.552393  0.637209  ...  0.635390  0.346613  0.648224

          ias29     ias30     ias31     ias32     ias33     ias35     ias36
ias1   0.540865  0.473830  0.325764  0.222556  0.499462  0.380204  0.485681
ias2   0.324781  0.303772  0.240185  0.149004  0.362779  0.265065  0.317826
ias3   0.398712  0.417714  0.514334  0.259528  0.449447  0.425957  0.461002
ias4   0.425301  0.393186  0.276573  0.173678  0.471634  0.250178  0.350016
ias5   0.554956  0.471142  0.331626  0.250465  0.602522  0.420797  0.469125
ias6   0.462595  0.423761  0.280543  0.357838  0.353481  0.264406  0.511114
ias7   0.480307  0.409551  0.326567  0.141842  0.497770  0.250955  0.660880
ias8   0.454110  0.429113  0.391767  0.232004  0.492488  0.470186  0.560788
ias9   0.509045  0.411714  0.302359  0.133324  0.527294  0.248491  0.552393
ias10  0.580848  0.376447  0.299346  0.267393  0.465893  0.272484  0.637209
ias11  0.447390  0.355894  0.302411  0.185715  0.438711  0.307454  0.491157
ias12  0.532982  0.428302  0.343209  0.215048  0.461150  0.249062  0.559061
ias13  0.186328  0.208079  0.168087  0.257317  0.234697  0.156966  0.201102
ias14  0.471762  0.453562  0.305185  0.298474  0.432950  0.446010  0.540022
ias15  0.465814  0.393114  0.275052  0.223123  0.466180  0.434814  0.567158
ias16  0.442344  0.342980  0.219729  0.270939  0.346893  0.347646  0.388808
ias17  0.482797  0.418513  0.289021  0.264927  0.364681  0.258425  0.584953
ias18  0.568109  0.432783  0.176458  0.126945  0.548223  0.349432  0.652867
ias19  0.464403  0.515473  0.421924  0.235889  0.442213  0.459980  0.571210
ias20  0.706230  0.455669  0.346874  0.300322  0.623776  0.447901  0.691380
ias21  0.540566  0.502280  0.356900  0.257169  0.537837  0.244358  0.588344
ias22  0.184795  0.280612  0.158452  0.330678  0.154692  0.262395  0.267740
ias24  0.490325  0.545786  0.551952  0.207708  0.458291  0.421342  0.491995
ias25  0.525006  0.432998  0.273618  0.207233  0.527510  0.484635  0.508087
ias26  0.563715  0.469119  0.251644  0.282806  0.491570  0.522116  0.635390
ias27  0.324576  0.245234  0.386764  0.149730  0.374153  0.408097  0.346613
ias28  0.559864  0.386880  0.224734  0.304954  0.411420  0.454578  0.648224
ias29  1.000000  0.448615  0.277178  0.255780  0.679654  0.380244  0.636818
ias30  0.448615  1.000000  0.433360  0.326201  0.427051  0.308494  0.486415
ias31  0.277178  0.433360  1.000000  0.201641  0.330060  0.325667  0.348351
ias32  0.255780  0.326201  0.201641  1.000000  0.259626  0.259058  0.190017
ias33  0.679654  0.427051  0.330060  0.259626  1.000000  0.365127  0.517423
ias35  0.380244  0.308494  0.325667  0.259058  0.365127  1.000000  0.428168
ias36  0.636818  0.486415  0.348351  0.190017  0.517423  0.428168  1.000000

[34 rows x 34 columns]

In [42]:
sums = matrix.sum()
min_corr = sums.nsmallest(3).index
print(min_corr)

Index(['ias13', 'ias22', 'ias32'], dtype='object')

In [45]:
new_df = df2.drop(columns=['ias13','ias22', 'ias32'])
print("5 columns were dropped, 2 due to low variances and 3 due to low correlations.")
print("Columns ias23 and ias34 were dropped for low variances.")
print("Columns ias13, ias22 and ias32 were dropped due to low correlations.")

5 columns were dropped, 2 due to low variances and 3 due to low correlations.
Columns ias23 and ias34 were dropped for low variances.
Columns ias13, ias22 and ias32 were dropped due to low correlations.

In [46]:
new_df

,ias1,ias2,ias3,ias4,ias5,ias6,ias7,ias8,ias9,ias10,...,ias25,ias26,ias27,ias28,ias29,ias30,ias31,ias33,ias35,ias36
0,1,1,2,1,1,1,1,2,2,1,...,1,1,3,1,1,1,1,1,1,1
1,2,1,3,1,2,1,1,2,1,1,...,1,1,3,1,1,1,2,2,1,1
2,4,2,4,2,3,3,4,2,3,3,...,2,3,3,2,2,3,3,2,1,3
3,1,1,3,1,1,1,1,2,1,1,...,1,1,1,1,1,1,2,1,1,1
4,2,1,3,2,1,1,1,2,3,1,...,1,1,3,1,1,1,2,1,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
202,1,1,3,2,2,1,1,2,1,1,...,2,1,3,1,1,3,4,1,1,1
203,1,1,4,1,1,1,1,3,1,1,...,1,1,2,1,1,1,2,1,2,1
204,3,2,4,3,2,3,2,4,4,2,...,2,3,2,2,1,4,2,2,1,1
205,3,1,5,1,1,3,4,3,2,2,...,1,2,4,3,1,1,4,1,1,1
206,1,1,1,1,2,1,3,4,4,3,...,3,1,2,3,2,2,2,1,2,3

In [47]:
cov_mat = np.cov(new_df.T)
eigen_vals, eigen_vecs = np.linalg.eig(cov_mat)
eigen_vals

array([9.39125543, 1.24515555, 1.10299324, 0.95304005, 0.77301975,
       0.63877591, 0.57708496, 0.53989026, 0.46848507, 0.44204512,
       0.41070427, 0.37201006, 0.36019535, 0.0453143 , 0.05559301,
       0.06549541, 0.32573639, 0.08833419, 0.10109319, 0.30962996,
       0.12344991, 0.13704314, 0.28016405, 0.16390667, 0.16615511,
       0.18382076, 0.19611993, 0.25722439, 0.24472739, 0.22869559,
       0.23002373])

In [48]:
pca = PCA(n_components=None)
data_pca = pca.fit_transform(new_df)
pca.explained_variance_ratio_

array([0.4586205 , 0.06080698, 0.0538645 , 0.04654156, 0.0377503 ,
       0.03119452, 0.02818185, 0.02636546, 0.0228784 , 0.0215872 ,
       0.02005668, 0.01816705, 0.01759008, 0.01590729, 0.01512073,
       0.01368177, 0.01256151, 0.01195122, 0.01123317, 0.01116831,
       0.00957749, 0.00897686, 0.00811416, 0.00800436, 0.00669248,
       0.00602866, 0.00493687, 0.00431379, 0.00319846, 0.00271488,
       0.00221292])

In [49]:
pca5 = PCA(n_components=5)
data_pca_2 = pca5.fit_transform(new_df)
pca5.explained_variance_ratio_

array([0.4586205 , 0.06080698, 0.0538645 , 0.04654156, 0.0377503 ])